{% extends 'base.html' %}
{% load bootstrap4 static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Minhas Compras</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuário</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Preço Total</th>
                        <th>Produto</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="compras-body"> </tbody>
            </table>
        </div>
    </div>
    <script type="module" src="{% static 'js/compras.js' %}"></script>

</div>

{% endblock %}