{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site de exemplo do modulo CCS">
    <meta name="keywords" content="Agencia Digital, CCS, HTML">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsivo.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Salão Tammy Beleza</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <h1>Salão Tammy Beleza</h1>
            </a>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/produtos">Produtos</a>
            <a href="/servicos">Serviços</a>
            <a href="/contato">Contato</a>

            <a href="/login" class="notLogged" style="display: none;">Login</a>
            <a href="/usuarios/minhas_compras" class="logged" style="display: none;">Minhas Compras</a>
            <a href="/usuarios/minhas_reservas" class="logged" style="display: none;">Minhas Reservas</a>

            <a href="#" class="logged" style="display: none;" onclick="logout()">Logout</a>

        </div>
    </nav>

    <div class="container" id="content">
        {% block content %}
        {% endblock %}

        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
    </div>

    <button id="toggleToolbarBtn" class="toggle-toolbar-btn">
        <img src="https://www.svgrepo.com/show/327598/accessibility.svg" alt="Acessibilidade">
    </button>

    <div class="toolbar" aria-label="Accessibility Toolbar">
        <button id="increase-font">Aumentar Fonte</button>
        <button id="decrease-font">Diminuir Fonte</button>
        <button id="toggle-contrast">Trocar contraste</button>
        <button id="reset">Limpar</button>
    </div>
    <footer>
        <div class="logo-rodape">
            <h1 class="salao" style="color:white">Salão Tammy Beleza</h1>
            <p style="color:white">Tammy Espaço de Beleza, localizado na Av. Manoel dos Santos Braga, nº 859, bairro
                Vila Robertinha, São Paulo/SP, CEP 03807-320.</p>
        </div>
        <b style="color:white;">© Todos os direitos reservados.</b>
    </footer>


    <a class="whats" target="_blank" href="https://api.whatsapp.com/send?phone=5511997808623">
        <img src="{% static 'images/whatsapp-icon.png' %}" alt="whatsapp">
    </a>

    <script src="{% static 'js/helpers.js' %}"></script>

    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>

    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');

        document.addEventListener('DOMContentLoaded', function () {
            const token = sessionStorage.getItem('token');

            // Função para alternar a exibição de elementos com base na classe
            const toggleDisplay = (className, displayStyle) => {
                document.querySelectorAll(`.${className}`).forEach(element => {
                    element.style.display = displayStyle;
                });
            };

            if (token) {
                toggleDisplay('logged', 'inline');
                toggleDisplay('notLogged', 'none');
            } else {
                toggleDisplay('notLogged', 'inline');
                toggleDisplay('logged', 'none');
            }
        });

    </script>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>