{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site de exemplo do modulo CCS">
    <meta name="keywords" content="Agencia Digital, CCS, HTML">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsivo.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/helpers.js' %}"></script>

    <title>Salão Tammy Beleza</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <h1>Salão Tammy Beleza</h1>
            </a>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/produtos">Produtos</a>
            <a href="/servicos">Serviços</a>
            <a href="/contato">Contato</a>

            <a href="/login" id="login-link" style="display: none;">Login</a>
            <a href="#" id="logout-link" style="display: none;" onclick="logout()">Logout</a>

        </div>
    </nav>

    <div class="container" id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="logo-rodape">
            <h1 class="salao" style="color:white">Salão Tammy Beleza</h1>
            <p style="color:white">Tammy Espaço de Beleza, localizado na Av. Manoel dos Santos Braga, nº 859, bairro
                Vila Robertinha, São Paulo/SP, CEP 03807-320.</p>
        </div>
        <b style="color:white;">© Todos os direitos reservados.</b>
    </footer>

    <!-- Botão do WhatsApp -->
    <a class="whats" target="_blank" href="https://api.whatsapp.com/send?phone=5511997808623">
        <img src="{% static 'images/whatsapp-icon.png' %}">
    </a>

    <!-- Bootstrap JavaScript e jQuery -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const token = sessionStorage.getItem('token');

            if (token) {
                document.getElementById('logout-link').style.display = 'inline';
            } else {
                document.getElementById('login-link').style.display = 'inline';
            }
        });

    </script>
    {% bootstrap_javascript jquery='full' %}
</body>

</html>