{% extends 'base.html' %}
{% load bootstrap4 static %} <!-- Ou bootstrap5 -->

{% block content %}
<div>

    <h1>Contato</h1>

    <!-- Exibe as mensagens de feedback -->
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'contato' %}" method="post" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %} <!-- Renderiza o formulário com o estilo Bootstrap -->
        {% buttons %}
        <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
        {% endbuttons %}
    </form>

    {% buttons %}
</div>

{% endbuttons %}
{% endblock %}