{% extends 'base.html' %}
{% load bootstrap4 static %} <!-- Ou bootstrap5 -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Contato</h1>

            <!-- Exibe as mensagens de feedback -->
            {% if messages %}
            <div class="container">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form action="{% url 'contato' %}" method="post" class="form" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %} <!-- Renderiza o formulário com o estilo Bootstrap -->
                {% buttons %}
                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                {% endbuttons %}
            </form>

            {% buttons %}
        </div>
        <div class="col-2">
            <h1>Localização</h1>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.751571736349!2d-46.475176913265!3d-23.505456004962618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce611a2affa549%3A0xa026881761cdf4c1!2sAv.%20Manoel%20dos%20Santos%20Braga%2C%20859%20-%20Vila%20Robertina%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003807-320%2C%20Brazil!5e0!3m2!1sen!2spt!4v1726333288893!5m2!1sen!2spt"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</div>

{% endbuttons %}
{% endblock %}