<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Um site de exemplo do modulo CCS">
    <meta name="Keywords" content="Agencia Digital, CCS, HTML">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <title>salaotammybeleza</title>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Salão Tammy Beleza</h1>
        </div>
        <div class="menu">
            <a href="login">Login</a>
            <a href="listaProdutos">Lista Produtos</a>
            <a href="serviços">Serviços</a>
            <a href="contato">Contato</a>
          
        </div>   
    </nav>
    <header class="header">
        <div class="headline">
            <h2 style="letter-spacing: 9px;">você achou o melhor salão</h2>
            <h2 style="font-size: 70px;">TAMMY BELEZA</h2>
            <p>Nossa equipe é altamente qualificada e garantimos resultados excepcionais e aproveite nosso programa de fidelidade e ganhe benefícios exclusivos.</p>
            <a href="#" class="contact-btn">venha realizar sua transformação agora</a>
        </div>
        <div class="img-headline">
            <img style="max-width: 90%" src="../static/images/Imagem.png">
        </div>
    </header>
    <section>
        <h2>Nosso foco constante em melhorar nosso serviço é o que nos impulsiona.</h2>
        <div class="servicos">
            <div class="card">
                <div class="card-text">
                <img src="../static/images/suporte-ao-cliente.png">
                <h3>Profissionais qualificados e Preços transparentes </h3>
                <p>Nos do Tammy Beleza estamos atento às necessidades e preferências exclusivas de cada cliente, pois o atendimento personalizado e individualizado é o que os clientes esperam.Antes de prestar o serviço, os profissionais devem conversar com o cliente para entender o resultado desejado. Munidos dessas informações, os profissionais podem oferecer sugestões e recomendações adequadas. Uma comunicação eficaz e direta é crucial para garantir que os clientes se sintam à vontade e autoconfiantes. O profissional deve reservar um tempo para explicar cada etapa do serviço, do início ao fim, a fim de evitar qualquer desconforto ou incerteza por parte do cliente.</p>
            </div>
            <div class="texto-oculto">
                <img src="../static/images/suporte-ao-cliente.png">
                <h3>outro conteudo qualquer</h3>
                <p>Nos do Tammy Beleza estamos atento às necessidades e preferências exclusivas de cada cliente, pois o atendimento personalizado e individualizado é o que os clientes esperam. Antes de prestar o serviço, os profissionais devem conversar com o cliente para entender o resultado desejado. Munidos dessas informações, os profissionais podem oferecer sugestões e recomendações adequadas. Uma comunicação eficaz e direta é crucial para garantir que os clientes se sintam à vontade e autoconfiantes. O profissional deve reservar um tempo para explicar cada etapa do serviço, do início ao fim, a fim de evitar qualquer desconforto ou incerteza por parte do cliente.</p>
            </div>
            </div>
            <div class="card">
                <div class="card-text">
                <img src="../static/images/cabeleireiro.png">
                <h3>Profissionais qualificados e Preços transparentes </h3>
                <p>A experiência do salão depende muito da experiência e profissionalismo dos profissionais de beleza. Suas qualificações e experiência garantem a prestação de serviços de alto nível. Além disso, uma atitude amigável e profissional é essencial. Preços transparentes, sem cobranças inesperadas ou taxas ocultas, permitem aos clientes fazer um orçamento eficaz e promovem a confiança no salão.                                                                                                                                                                                                                                                                            </p>
            </div>
            <div class="texto-oculto">
                <img src="../static/images/cabeleireiro.png">
                <h3>outro conteudo qualquer</h3>
                <p>A experiência do salão depende muito da experiência e profissionalismo dos profissionais de beleza. Suas qualificações e experiência garantem a prestação de serviços de alto nível. Além disso, uma atitude amigável e profissional é essencial. Preços transparentes, sem cobranças inesperadas ou taxas ocultas, permitem aos clientes fazer um orçamento eficaz e promovem a confiança no salão.                                                                                                                                                                                                                                                                            </p>
            </div>
            </div>
            <div class="card">
                <div class="card-text">
                    <img src="../static/images/sala-de-estar.png">
                <h3>Equipe bem treinada e Sala de espera confortável</h3>
                <p>Um alto nível de treinamento é essencial para que uma equipe possa lidar com eficácia com uma variedade de clientes e serviços. Além disso, eles devem possuir habilidades para gerenciar de maneira profissional e eficiente as exigências ou imprevistas. Para criar uma área de espera acolhedora e aconchegante, é essencial fornecer assentos confortáveis, música ambiente suave e uma seleção de revistas atuais.                                                                                                                                                                                                                                                        </p>
            </div>
               <div class="texto-oculto">
                <img src="../static/images/sala-de-estar.png">
            <h3>outro texto qualquer</h3>
            <p>Um alto nível de treinamento é essencial para que uma equipe possa lidar com eficácia com uma variedade de clientes e serviços. Além disso, eles devem possuir habilidades para gerenciar de maneira profissional e eficiente as exigências ou imprevistas. Para criar uma área de espera acolhedora e aconchegante, é essencial fornecer assentos confortáveis, música ambiente suave e uma seleção de revistas atuais.                                                                                                                                                                                                                                                        </p>
        </div>
    </div>

        </div>
    </section>
    <footer>
        <div class="logo-rodape">
        <h1 class="salao" style="color:white">Salão Tammy Beleza</h1>
        <p style="color:white">Tammy Espaço de Beleza, localizado na Av. Manoel dos Santos Braga, nº 859, bairro Vila Robertinha, São Paulo/SP, CEP 03807-320.</p>
    </div>
    <b style="color:white;">© Todos os direitos reservados.</b>

</footer>
<a class="whats" target="_blank" href="https://api.whatsapp.com/send?phone=5511997808623"><img style="width: 100px"; src="img/telefone-fixo (1).png"></a>
</body>




           
        

        

    

