{% extends 'base.html' %}
{% load bootstrap4 static %} <!-- Ou bootstrap5 -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% block content %}

<div class="login-container ">
    <h2>Login</h2>
    <form class="form" id="login-form" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</div>
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}