{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Salão de Beleza Tammy</title>

    <!-- CSS FILES -->        
    <link href="{% static 'css/bootstrap.minn.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-iconss.css' %}" rel="stylesheet">
    <link href="{% static 'css/style2.css' %}" rel="stylesheet">
</head>
    
    <body class="topics-listing-page" id="top">

        <main>

            


            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Salão de Beleza Tammy</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">Salão de Beleza Tammy</h2>
                        </div>

                    </div>
                </div>
            </header>


            <section class="section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h3 class="mb-4">Tratamentos Capilares</h3>
                        </div>

                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="{% static 'images/topics/undraw_Remote_design_team_re_urdx.png' %}" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">SMART ESCOVA</h5>

                                            <p class="mb-0">Limpeza, hidratação, massagem capilar e a finalização que você desejar.</p>

                                           <!-- <a href="topics-detail.html" class="btn custom-btn mt-3 mt-lg-4">Learn More</a>-->
                                        </div>

                                       
                                    </div>
                                </div>
                            </div>

                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="{% static 'images/topics/undraw_online_ad_re_ol62.png' %}" class="custom-block-image img-fluid" alt="">
                                    
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">ESCOVA</h5>

                                            <p class="mb-0">Limpeza, massagem capilar e secagem</p>

                                          <!--  <a href="topics-detail.html" class="btn custom-btn mt-3 mt-lg-4">Learn More</a> -->
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>

                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="{% static 'images/topics/undraw_Podcast_audience_re_4i5q.png' %}" class="custom-block-image img-fluid" alt="">
                                  
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">HIDRATAÇÃO</h5>

                                            <p class="mb-0">Limpeza, hidratação e massagem capilar</p>

                                            
                                        </div>

                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </section>


 <!-- -------------------------------------------------------------------------------------------- -->

            <section class="section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h3 class="mb-4">Demais Serviços</h3>
                        </div>

                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="{% static 'images/topics/1.png' %}" class="custom-block-image img-fluid" alt="">
                                    
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">CRONOGRAMAS</h5>

                                            <p class="mb-0">De 8 a 12 sessões incluindo hidratação, nutrição e recontrução para realizar em 4 semanas.</p>

                                           <!-- <a href="topics-detail.html" class="btn custom-btn mt-3 mt-lg-4">Learn More</a>-->
                                        </div>

                                       
                                    </div>
                                </div>
                            </div>

                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="{% static 'images/topics/2.png' %}" class="custom-block-image img-fluid" alt="">
                                  

                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">MANICURE</h5>

                                            <p class="mb-0">Limpeza, cutilação, e esmaltação das unhas das mãos.</p>

                                          <!--  <a href="topics-detail.html" class="btn custom-btn mt-3 mt-lg-4">Learn More</a> -->
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>

                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="{% static 'images/topics/3.png' %}" class="custom-block-image img-fluid" alt="">
                                    
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">PEDICURE</h5>

                                            <p class="mb-0">limpeza, cutilação, e esmaltação das unhas dos pés.</p>

                                            
                                        </div>

                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </section>

<!-- -------------------------------------------------------------------------------------------- -->

            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 m-auto">
                            <h3 class="mb-4">Sobre Nós</h3>

                            <p>Fazemos arte!
                                Identificamos sua essência e seu estilo e simplesmente os transformamos
                                em beleza realçada, apenas explorando o que já existe, simplesmente valorizando os detalhes e com talento mostrando ao mundo a verdadeira beleza da mulher.
                                Todas as inspirações e tendências em cores, químicas e cortes. coloração, luzes, tratamentos, penteados, escovas, permanentes, reflexos, mechas, luzes, balaiagem.
                                Uma equipe de profissionais com técnicas e conhecimentos que deixarão você se sentindo absolutamente incrível.</p>

                            

                            <blockquote>
                                Um salão de beleza ideal. Para quem procura adequar a imagem pessoal as suas principais, necessidades, com assessoria especializada em um ambiente sofisticado e com atendimento personalizado. Solicite orçamento
                            </blockquote>


                            <div class="row my-4">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <img src="{% static 'images/businesswoman-using-tablet-analysis.jpg' %}" class="topics-detail-block-image img-fluid" alt="">
                                    
                                </div>

                                <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                    <img src="{% static 'images/colleagues-working-cozy-office-medium-shot.jpg' %}" class="topics-detail-block-image img-fluid" alt="">
                                    
                                </div>
                            </div>

                            
                        </div>

                    </div>
                </div>
            </section>


            <section class="section-padding section-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                            <form class="custom-form subscribe-form" action="#" method="post" role="form">
                                <div class="col-lg-12 col-12">
                                    <button type="button" class="form-control" onclick="window.location.href='/';">Voltar</button>
                                
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>




            
        </main>

		

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>