<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Document</title>
</head>
<body style="background: rgb(239, 222, 232);">
    <h1></h1>
    <h2 style="text-align: center;">Conheça nossos serviços</h2>
    <br>

    <table>
       <tr>
                  <th><img style="max-width: 70%" src="img/mulher-de-vista-lateral-no-salao-de-cabeleireiro.jpg"><th>
                    <th><img style="max-width: 70%" src="img/detalhe-de-cabeleireiro-com-ferramentas.jpg"><th></th>
                 <th><img style="max-width: 50%" src="img/vista-superior-do-arranjo-de-ferramentas-de-penteado.jpg"><th>
                    </tr>
       </tr>
    </table>
<br>
<br>
    <table width="100%" border="1" style="text-align: center;">
        <tr>
            <th>SMART ESCOVA</th>
            <th>ESCOVA</th>
            <th>HIDRATAÇÃO</th>
        </tr>
        <tr>
            <td>Limpeza, hidratação, massagem capilar e <p>a finalização que você desejar.</p></td>
            <td>Limpeza, massagem capilar e secagem</td>
            <td>Lipmeza, hidratação e massagem capilar</td>
           <td></td>
        </tr>
        
     </table>
     <br>
        <br>
    </table>
    <br>
    <br>
        <table width="100%" border="1" style="text-align: center;">
            <tr>
                <th>CRONOGRAMAS</th>
                <th>MANICURE</th>
                <th>PEDICURE</th>
            </tr>
            <tr>
                <td>De 8 a 12 sessões incluindo hidratação, nutrição <p>e recontrução para realizar em 4 semanas.</p></td>
                <td>Limpeza, cutilação, e esmaltação das unhas das mãos.</td>
                <td>limpeza, cutilação, e esmaltação das unhas dos pés.</td>
               <td></td>
            </tr>
            
         </table>
         <br>
            <br>
            <table width="90%" border="1" style="text-align: center;">
                <tr>
                           <th><img style="max-width: 100%" src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcW1ldzlwb3l3YzZ3a2tzMWhqajFramxtbWtiOHp5ZmRhNGQ5MXl0bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hQjVqI6aYnjxnhjV18/giphy.gif"><th>
                            <th> Fazemos arte!<br>  Identificamos sua essência e seu estilo e simplesmente os transformamos<br> em beleza realçada, apenas explorando o que já existe, simplesmente valorizando os detalhes e com talento mostrando ao mundo a verdadeira beleza da mulher.<br>Todas as inspirações e tendências em cores, químicas e cortes. coloração, luzes, tratamentos, penteados, escovas, permanentes, reflexos, mechas, luzes, balaiagem.<br>Uma equipe de profissionais com técnicas e conhecimentos que deixarão você se sentindo absolutamente incrível. </th>
                            <th>Um salão de beleza ideal.<br> Para quem procura adequar a imagem pessoal as suas principais,<br> necessidades, com assessoria especializada em um ambiente <br>sofisticado e com atendimento personalizado. Solicite orçamento </th>
     </tr>
                </tr>
             </table>
         <br>
                  


                </table>
             
    <a href="index.html"><strong><mark>Voltar para a página principal.</mark></strong></a>

</body>

</html> 

    

    
