{% extends 'base.html' %}
{% load bootstrap4 static %} <!-- Ou bootstrap5 -->
<link href="{% static 'css/style1.css' %}" rel="stylesheet">

{% block content %}
<div class="container">
    <h1>Produtos</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <th scope="row">{{ produto.id }}</td>
                <td><a href="#modal{{produto.id}}" data-toggle="modal">{{ produto.nome }}</a></td>
                <td>R$ {{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </tr>
            {% include 'modal_compra.html' %}
        
            {% endfor %}
        </tbody>
    </table>
    {% buttons %}
    {% endbuttons %}
</div>

{%bootstrap_javascript jquery='full' %}
<script type="module" src="{% static 'js/compras.js' %}"></script>

{% endblock %}