{% extends 'administrador/base_admin.html' %}

{% block content %}
<h1>Produtos</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Estoque</th>
            <th>Preço</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for item in data %}
        <tr>
            <td>{{ data.id }}</td> 
            <td>{{ data.nome }}</td> 
            <td>{{ data.estoque }}</td> 
            <td>{{ data.preco }}</td>
            <td></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum item encontrado.</td>
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}