{% extends 'administrador/base_admin.html' %}

{% block content %}
<h1>Reservas</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Serviço</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td> 
            <td>{{ item.nome_usuario }}</td> 
            <td>{{ item.nome_servico }}</td> 
            <td>{{ item.data_reserva }}</td> 
            <td>{{ item.hora_reserva }}</td> 
            <td></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum item encontrado.</td>
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}