{% extends 'administrador/base_admin.html' %}

{% block content %}
<h1>Compras</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for servico in servicos %}
        <tr>
            <td>{{ servico.id }}</td> 
            <td>{{ servico.nome }}</td> 
            <td>{{ servico.preco }}</td>
            <td></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma compra encontrada.</td>
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}