{% extends 'administrador/base_admin.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Produtos </h1>
    </div>
    <div class="col">
        <a href="produtos/novo">Novo</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Estoque</th>
                    <th>Preço</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr id="item-{{ item.id }}">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.estoque }}</td>
                    <td>{{ item.preco }}</td>
                    <td>
                        <a class="btn btn-primary" href="produtos/{{ item.id }}/editar">Editar</a>
                        <button class="btn btn-danger" data-item-id="{{ item.id }}"
                            data-endpoint="produtos">Apagar</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum item encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="module" src="{% static 'js/crud.js' %}"></script>

{% endblock %}